<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            #result {
                font-size: 40px;
                text-align: center;
                color: blue;
            }
        </style>
    </head>
    <body>
        <div class="container">
            
            <form>
                <div class="form-group">
                  <label for="product_id">Product ID</label>
                  <input type="text" class="form-control" id="product_id" aria-describedby="emailHelp" placeholder="Product ID">
                </div>
                {% if page!='delete' %}
                <div class="form-group">
                  <label for="user_id">User ID</label>
                  <input type="text" class="form-control" id="user_id" placeholder="User ID">
                </div>
                <div class="form-group">
                    <label for="review">Review</label>
                    <input type="text" class="form-control" id="review" placeholder="Review">
                </div>
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <input type="text" class="form-control" id="rating" placeholder="Rating">
                </div>
                {% endif %}
                {% if page=='add' %}
                <button type="button" class="btn btn-primary" onclick="callPost()">POST</button>
                <button type="button" class="btn btn-primary" onclick="callPut()">PUT</button>
                {% elif page=='delete'%}
                <button type="button" class="btn btn-primary" onclick="callDelete()">DELETE</button>
                {%endif%}
              </form>
              <div id = "result">  </div>
        </div> 

    </body>
    <script>
        function callDelete(){
            var xhttp = new XMLHttpRequest();
            var product_id = document.getElementById("product_id").value;
            var user_id = document.getElementById("user_id").value;
            var review = document.getElementById("review").value;
            var rating = document.getElementById("rating").value;
            var url = "http://127.0.0.1:5000/review/"+ product_id;
            xhttp.open("DELETE",url, false);
            xhttp.send(JSON.stringify({ "product_id": product_id, "user_id": user_id, "review":review, "rating":rating }));
            var temp = JSON.parse(xhttp.responseText);
            console.log(temp);
        }

        function callPost(){
            var xhttp = new XMLHttpRequest();
            var product_id = document.getElementById("product_id").value;
            var user_id = document.getElementById("user_id").value;
            var review = document.getElementById("review").value;
            var rating = document.getElementById("rating").value;
            var url = "http://127.0.0.1:5000/review/"+ product_id;
            xhttp.open("POST",url, false);
            xhttp.send(JSON.stringify({ "product_id": product_id, "user_id": user_id, "review":review, "rating":rating }));
            var temp = JSON.parse(xhttp.responseText);
            document.getElementById("result").innerHTML = temp.message;
        }

        function callPut(){
            var xhttp = new XMLHttpRequest();
            var product_id = document.getElementById("product_id").value;
            var user_id = document.getElementById("user_id").value;
            var review = document.getElementById("review").value;
            var rating = document.getElementById("rating").value;
            var url = "http://127.0.0.1:5000/review/"+ product_id;
            xhttp.open("PUT", url, true);
            xhttp.send(JSON.stringify({ "product_id": product_id, "user_id": user_id, "review":review, "rating":rating }));
            console.log(xhttp.responseText);
        }

    </script>
</html>