<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <br>
        <br>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <b>Choose any option</b>
                <a href = "display" class="active">Display</a>
                <a href = "addition">Add to DB</a>
                <a href = "deletion">Delete from DB</a>
                <!-- <a href = "product_display">Display all fields for a given Product</a>
                <a href = "user_display">Display all fields for a given User</a> -->
            </nav>
        </div>
        </body>
    </html>